.about {
    background-color: #1a0b2b;
    position: relative;
    top: 100vh;
    color: white;
}

#about-title {
    font-size: 3rem;
    text-align: center;
}

#about-content {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: auto;
}

#about-text {
    flex-basis: 50%;
    background-color: #121212;
    margin: 5rem;
    padding: 3rem;
    border-radius: 10px;
}

#about-carousel {
    flex-basis: 50%;
    margin: 5rem;
}

.about-img {
  display: none;
  width: 500px;
  border-radius: 10px;
}
