.about {
    background-color: #1a0b2b;
    position: relative;
    top: 100vh;
    color: white;
}

#about-title {
    font-size: 3rem;
    text-align: center;
}

#about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

#about-text {
    text-align: center;
    background-color: #121212;
    padding: 2rem;
    border-radius: 10px;
    max-width: 60rem;
    min-width: 20rem;
}

#about-carousel {
    padding: 3rem;
}

.about-img {
    display: none;
    width: 500px;
    border-radius: 10px;
}