.abt {
    background-color: #1a0b2b;
        position: relative;
        top: 100vh;
    color: white;
}

.header-title {
    font-size: 3rem;
    text-align: center;
}

.content-container {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 3rem;
}

.text {
    flex-basis: 50%;
    margin-right: 10rem;
    padding: 3rem;
}

.pitbull {
    flex-basis: 50%;
}

img {
  width: 500px;
}
