.hero {
    width: 100%;
    height: 100%;
    position: relative;
    top: 100vh;
    background: #1a0b2b;
}

#calendar {
    width: 80%;
    height: 65vh;
    position: relative;  
    /* top: 200vh;  */
    /* transform: translate(-50%, -50%); */
}