.events {
    color: #1a0b2b;
    background-color: white;
}

.event-title {
    font-size: 2rem;
    text-align: center;
}

.event-text {
    flex-basis: 50%;
    margin-right: 10rem;
    padding: 2rem;
}