.events {
    background-color: #1a0b2b;
    color: white;
}

.event-title {
    font-size: 2rem;
    text-align: center;
}

.event-text {
    flex-basis: 50%;
    padding: 3rem;
    text-decoration: none;
    color: white;
}

.event-img {
    width: 400px;
}

.event-logo {
    padding-left: 3rem;
    padding-right: 3rem;
    width: 200px;
}