.events {
    background-color: #1a0b2b;
    color: white;
}

.event-title {
    font-size: 2rem;
    text-align: center;
}

.event-text {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    padding: 2rem;
    text-decoration: none;
    color: white;
}

.event-img {
    width: 25rem;
}

.event-logo {
    width: 10rem;
}