.footer {
    position: relative;
    top: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(30deg, #02977c, rgb(2, 94, 94), #351b7c, rgb(12, 1, 55), rgb(6, 1, 27));
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: white;
}

#button-addon1 {
    color: #ffc371;
}

i {
    color: #ffc371;
}

.footerheader {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 300%;
}

.imagesfooteralign {
    text-align: center;
}

.footerimg {
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid;
    border-color: black;
    border-width: 1.5px;
    zoom: 150%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: inline-block;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}