* {
     margin: 0px; 
     padding: 0px; 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes text_motion {
    0% {
        left:0px; top:0px;
    }
    100% {
        left:100%; top:100%;
    }

}


body {
    margin: 0px;
    padding: 0px;
}

.landing {
    background-attachment: fixed; 
     background-image: linear-gradient(30deg, #02977c, rgb(2, 94, 94), #351b7c, rgb(12, 1, 55), rgb(6, 1, 27));
     background-size: 400% 400%;
	 animation: gradient 20s ease infinite;
     /* background-color: transparent; */
    width: 100%;
    height: 100%;
    position: absolute; 
    /* i added a comment */
}

.landing h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 150px;
    margin-top: 40vh;
    text-shadow: 2px 2px #1af2e3, -2px -2px rgb(234, 17, 216);
}

.landing h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 65px;
    margin-top: -2vh;
    margin-left: 335px;
    text-shadow: 1px 1px #1af2e3, -1px -1px rgb(234, 17, 216);
}

/* .hero {
    width: 100%;
    height: 50%;
    /* background: linear-gradient(45deg, red, blue); 
    position: relative;
}

#calendar {
    width: 80%;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */