.officers_head {
    position: relative;
    top: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(30deg, #02977c, rgb(2, 94, 94), #351b7c, rgb(12, 1, 55), rgb(6, 1, 27));
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: white;
    text-align: center;
    font-size: 23px;
    height: 70px;
    line-height: 270%;
}

.officers {
    position: relative;
    top: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    background-attachment: fixed;
    background-image: linear-gradient(30deg, #02977c, rgb(2, 94, 94), #351b7c, rgb(12, 1, 55), rgb(6, 1, 27));
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: black;
}

.officer_images {
    display: flex;
    border-radius: 8%;
    margin-top: 5px;
}

.column_officers {
    width: 90%;
    margin-left: 10px;
    float: left;
    margin-bottom: 10px;
    margin-top: 16px;
    padding: 0 8px;
    text-align: center;
    line-height: 180%;
    border-radius: 8%;
    background-color: #F8F0E3;
}

/* Add some shadows to create a card effect */
.card_officers {
    box-shadow: 0px 10px 20px 30px rgba(0, 0, 0, 0.30);
    box-shadow: 8px 0px 10px 10px rgba(0, 0, 0, 0.30);
    box-shadow: -8px 0px 10px 10px rgba(0, 0, 0, 0.30);
    border-radius: 8%;
}

.card_officers:hover {
    box-shadow: 0px 0px 40px 30px rgba(255, 255, 255, 0.15);
    border-radius: 8%;
}

/* Some left and right padding inside the container */
.container_officers {
    padding: 0 16px;
}